<div class="container-md mt-3" *ngIf="!isMobile">
  <mat-card>
    <mat-card-actions class="justify-content-between" align="end">
      <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
      <button mat-raised-button color="primary">Salvar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container" [ngClass]="{'mobile-view': isMobile}">


  <!-- Tabs para Mobile -->
  <mat-tab-group style="z-index: 1;" *ngIf="isMobile" [(selectedIndex)]="activeTab" class="mobile-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>edit</mat-icon>
        <span>Campos</span>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>visibility</mat-icon>
        <span>Pré-visualização</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <!-- Editor -->
  <div class="editor-container" [class.hidden]="isMobile && activeTab !== 0">
    <div class="d-flex"
      [ngClass]="isMobile ? 'justify-content-center mb-3 mt-5 align-items-end' : 'justify-content-between mb-3'">

      <h3 *ngIf="!isMobile" style="margin: 0;">Edição de Campos</h3>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="belowMenu" style="margin: 0;">
        <mat-icon>add</mat-icon>Adicionar campo
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item *ngFor="let field of formFields" (click)="addField(field)">
          {{ field.label }}</button>
      </mat-menu>
    </div>

    <div *ngFor="let field of visibleFields; let i = index" class="field-item">
      <div class="field-header">
        <strong>{{ field.label }}</strong><br />

        <small>Tipo: {{ field.type }}</small>
      </div>
      <div class="field-actions">
        <div>
          <button class="arrow-btn" (click)="moveUp(i)" [disabled]="i === 0" aria-label="Move field up"
            title="Move field up">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button class="arrow-btn" (click)="moveDown(i)" [disabled]="i === visibleFields.length - 1"
            aria-label="Move field down" title="Move field down">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
        <div>

          <span class="edit-btn" (click)="editField(i)" aria-label="Edit field" title="Edit field">
            <mat-icon>edit</mat-icon>
          </span>
          <button class="delete-btn" (click)="deleteField(i)" aria-label="Delete field" title="Delete field">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>


    <button mat-fab class="floating-button" *ngIf="isMobile" [matMenuTriggerFor]="menu" aria-label="Floating action button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above">
      <button mat-menu-item>
        <mat-icon>save</mat-icon>
        <span>Salvar</span>
      </button>
      <button mat-menu-item (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        <span>Cancelar</span>
      </button>
    </mat-menu>
    

  </div>

  <!-- Preview -->
  <div class="preview-container" [class.hidden]="isMobile && activeTab !== 1">
    <h3>Pré Visualização</h3>
    <div class="iframe-container" style="height: 100%;">
      <iframe id="formPreview" frameborder="0" class="iframe-preview"
        [srcdoc]="iframeContent || '<p>No content available</p>'" title="Form Preview"></iframe>
    </div>
  </div>
</div>