<div class="login-container">
  <mat-card class="login-card">
    <h2>Bem vindo2</h2>
    <p class="subtitle">Faça login para continuar</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Campo de Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="loginForm.get('email')?.invalid">Email inválido</mat-error>
      </mat-form-field>

      <!-- Campo de Senha -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="loginForm.get('password')?.invalid">Senha é obrigatória</mat-error>
      </mat-form-field>

      <!-- Exibição de mensagem de erro -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <!-- Botão de Login -->
      <div class="login-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Entrar
        </button>
        <p class="register-link">
          <a routerLink="/register">Não tem uma conta? <strong>Registre-se</strong></a>
        </p>
      </div>
    </form>
  </mat-card>
</div>
