<mat-dialog-content [formGroup]="filterForm">

    <mat-form-field appearance="outline" class="date-range-field">
        <mat-label>Data de envio</mat-label>
        <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" >
            <input matStartDate placeholder="DD/MM/YYYY" formControlName="startDate" readonly 
            (click)="picker.open()">
            <input matEndDate placeholder="DD/MM/YYYY" formControlName="endDate" readonly 
            (click)="picker.open()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    

    <div class="filter-actions">
        <button mat-mini-fab color="warn" (click)="clearFilters()">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="onSubmit()">
            <mat-icon>done_outline</mat-icon>
        </button>
    </div>
</mat-dialog-content>