<h1 mat-dialog-title>Renomeação de Formulário</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <mat-label>Entre com o nome do Formulário</mat-label>
        <input matInput placeholder="Form name" [formControl]="name" maxlength="100" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="name.invalid" (click)="saveForm(name.value)">Salvar</button>
</div> 