.forms-container {
  display: flex;
  flex-direction: row;
  gap: 2rem; /* Maior espaçamento entre a lateral e a lista */
  justify-content: space-between;
  margin: 1rem auto;
  max-width: 100%; /* Aproveita toda a largura */
  padding: 0 2rem; /* Margens laterais */
}

.forms-list-container {
  flex-grow: 1; /* Faz a lista de formulários ocupar o espaço restante */
  max-width: 70%; /* Define um limite para evitar que fique muito largo */
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.forms-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Espaçamento maior entre os itens */
}

.form-item {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cores Alternadas */
.form-color-a {
  background-color: #e3f2fd; /* Azul Claro */
  color: #0d47a1; /* Azul Escuro para contraste */
}

.form-color-b {
  background-color: #f1f8e9; /* Verde Claro */
  color: #33691e; /* Verde Escuro para contraste */
}

.form-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

p {
  margin: 0.5rem 0;
}

.form-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Seção lateral */
.side-section {
  flex-basis: 25%; /* Define a largura fixa da seção lateral */
  max-width: 300px; /* Limite máximo para a lateral */
}

.button-center{
  display: flex;
  justify-content: center;
}

.create-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  // background: linear-gradient(to right, #42a5f5, #1976d2); /* Gradiente moderno */
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.progress-section {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra discreta */
}

.progress-section p {
  margin: 0 0 0.5rem;
  font-weight: bold;
  color: #424242;
}

mat-progress-bar {
  height: 8px; /* Barra mais fina */
  border-radius: 4px;
}

mat-divider {
  margin: 1rem 0;
}

.button-icon {
  margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
  font-size: 1.2rem; /* Ajusta o tamanho do ícone */
  vertical-align: middle; /* Alinha verticalmente com o texto */
}


/* Responsividade */
@media (max-width: 768px) {

  .create-form-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 0; /* Sem bordas arredondadas */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    background-color: #1976d2; /* Cor fixa para o botão */
    color: #fff;
    text-align: center;
    z-index: 100;
  }

  .forms-wrapper {
    padding-bottom: 4rem; /* Espaço suficiente para o botão */
  }

  .progress-section {
    order: -1; /* Move o progresso para o topo */
  }

  mat-divider {
    order: 1; 
    margin-bottom: -15px; /* Coloca o divider abaixo da barra de progresso */
  }

  .side-section {
    display: flex;
    flex-direction: column;
  }

  .forms-container {
    flex-direction: column;
    padding: 0 1rem;
  }

  .forms-list-container,
  .side-section {
    max-width: 100%; /* Ambos ocupam toda a largura no mobile */
  }

}
