<div class="form-page-container">


  <!-- Lista de formulários -->
  <div class="forms-list-container">
    <div class="form-header-row">
      <div class="form-controls-left">
        <mat-form-field style="width: 300px;">
          <mat-label>🔃Ordenação:</mat-label>
          <mat-select [formControl]="ordenationControl" (selectionChange)="onOrdenationChange($event.value)">
            <mat-optgroup *ngFor="let group of ordenationGroups" [label]="group.name" [disabled]="group.disabled">
              <mat-option *ngFor="let order of group.ordenation" [value]="order.value">
                {{group.name + "/" + order.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <!-- Alteração para Radio Buttons -->
        <div class="status-filter">
          <mat-radio-group [(ngModel)]="selectedStatus" (change)="onStatusChange()">
            <mat-radio-button value="ativo">Ativo</mat-radio-button>
            <mat-radio-button value="inativo">Inativo</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="isExpirado" (change)="onStatusChange()">
            Expirado
          </mat-checkbox>

          <mat-checkbox [(ngModel)]="isNaoLido" (change)="onStatusChange()">
            Não Lido
          </mat-checkbox>
        </div>
      </div>


      <button mat-raised-button color="primary" class="create-form-button" (click)="onCreateForm()">
        <mat-icon class="button-icon">add</mat-icon>
        Criar Formulário
      </button>
    </div>

    <mat-divider></mat-divider>


    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>

    <mat-card *ngIf="errorMessage">
      <mat-icon color="warn">error</mat-icon>
      <p>{{ errorMessage }}</p>
    </mat-card>

    <mat-card *ngIf="!isLoading && !errorMessage && forms.length === 0">
      <mat-icon>info</mat-icon>
      <p>Não há formulários disponíveis no momento.</p>
    </mat-card>

    <div class="forms-wrapper" *ngIf="!isLoading && !errorMessage && forms.length > 0">
      <div class="form-table-header">
        <span style="visibility: hidden;"></span>
        <span>Respostas</span>
        <span>Criado em</span>
        <span>Status</span>
        <span>Expira em</span>
        <span>Ações</span>
      </div>

      <div *ngFor="let form of forms; let i = index"
        [ngClass]="{ 'form-card-a': i % 2 === 0, 'form-card-b': i % 2 !== 0 }" class="form-table-row mat-elevation-z2">
        <div class="form-title-column">
          <div class="form-title-text" matTooltip="{{ form.name }}" [matTooltipPosition]="'above'">
            {{ form.name.length > 50 ? (form.name | slice:0:45) + '...' : form.name }}
          </div>


        </div>
        <div>
          <ng-container *ngIf="form.newFeedbackCount === 0; else feedbackCount">
            <mat-chip class="response-chip" style="border: 1px solid black;" (click)="onViewResponses(form.id)">
              {{ form.responseCount }}
            </mat-chip>
          </ng-container>
          <ng-template #feedbackCount>
            <mat-chip class="response-chip pulse-badge" style="border: 1px solid black;"
              matBadge="{{form.newFeedbackCount}}" (click)="onViewResponses(form.id)">
              {{ form.newFeedbackCount }}
            </mat-chip>
          </ng-template>
          <!-- <mat-chip *ngIf="form.newFeedbackCount > 0" class="pulse-badge" cdkDrag>
            <span>
              {{ form.newFeedbackCount }}📩
            </span>
          </mat-chip> -->
        </div>
        <div>{{ form.createdAt | date: 'dd/MM/yyyy HH:mm' }}</div>
        <div [ngClass]="{'ativo': form.status, 'inativo': !form.status}">
          {{ form.status ? 'Ativo' : 'Inativo' }}
        </div>
        <div>{{ form.expirationDate ? (form.expirationDate | date: 'dd/MM/yyyy 23:59') : '—' }}</div>
        <div class="form-actions">
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="selectedForm = form">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onViewResponses(selectedForm.id)">
        <mat-icon>visibility</mat-icon>
        <span>Visualizar Respostas</span>
      </button>
      <button mat-menu-item (click)="editForm(selectedForm.id)">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="deleteForm(selectedForm.id)">
        <mat-icon>delete</mat-icon>
        <span>Excluir</span>
      </button>
      <button mat-menu-item (click)="duplicateForm(selectedForm.id)">
        <mat-icon>content_copy</mat-icon>
        <span>Duplicar</span>
      </button>
      <button mat-menu-item (click)="renameForm(selectedForm.id, selectedForm.name)">
        <mat-icon>drive_file_rename_outline</mat-icon>
        <span>Renomear</span>
      </button>
      <button mat-menu-item (click)="viewQRCode(selectedForm.id, selectedForm.name)">
        <mat-icon>qr_code</mat-icon>
        <span>QR Code</span>
      </button>
      <button mat-menu-item (click)="copyLink(selectedForm.id)">
        <mat-icon>link</mat-icon>
        <span>Copiar Link</span>
      </button>
    </mat-menu>

  </div>
</div>

<ng-template #confirmDialog let-dialogData>
  <h2 mat-dialog-title>Atenção</h2>
  <mat-dialog-content>
    <p>{{ dialogData.message }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close="false">Cancelar</button>
    <button mat-button color="warn" mat-dialog-close="true">Confirmar</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #qrCodeDialog>
  <div class="d-flex justify-content-end">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="pt-0">
    <qrcode [qrdata]="qrCodeUrl || ''" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <div class="d-flex justify-content-center" style="width: 240px;">
      <h1 class="m-0 text-center"
        style="word-wrap: break-word; white-space: normal; max-width: 100%; overflow-wrap: break-word;">
        {{nameForm}}
      </h1>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="downloadQRCode()">Baixar QR Code</button>
  </mat-dialog-actions>
</ng-template>