<mat-toolbar color="primary" class="main-toolbar">
  <div class="toolbar-left">
    <a href="/dashboard/home">
      <img class="logo" src="../../../assets/logo-simplefeed.png" alt="Logo">
    </a>

    <!-- Links visíveis apenas no desktop -->
    <nav class="nav-links desktop-only">
      <a routerLink="/dashboard/home" routerLinkActive="active-link">Início</a>
      <a routerLink="/dashboard/forms" routerLinkActive="active-link">Formulários</a>
      <a routerLink="/dashboard/history" routerLinkActive="active-link">Histórico</a>
      <a routerLink="/dashboard/invoices" routerLinkActive="active-link">Faturas</a>
    </nav>
  </div>

  <div class="toolbar-right">
    <p class="welcome-message">Bem vindo, {{ userName }}</p>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div mat-menu-item>
        <mat-icon>email</mat-icon>
        <small>{{ userEmail }}</small>
      </div>
      <mat-divider></mat-divider>

      <!-- Links visíveis apenas no mobile -->
      <button mat-menu-item class="mobile-only" [routerLink]="'/dashboard/home'">
        <mat-icon>home</mat-icon>
        <span>Início</span>
      </button>
      <button mat-menu-item class="mobile-only" [routerLink]="'/dashboard/forms'">
        <mat-icon>description</mat-icon>
        <span>Formulários</span>
      </button>
      <button mat-menu-item class="mobile-only" [routerLink]="'/dashboard/history'">
        <mat-icon>view_timeline</mat-icon>
        <span>Histórico</span>
      </button>
      <button mat-menu-item class="mobile-only" [routerLink]="'/dashboard/invoices'">
        <mat-icon>view_timeline</mat-icon>
        <span>Faturas</span>
      </button>

      <mat-divider class="mobile-only"></mat-divider>

      <button mat-menu-item (click)="goToAccount()">
        <mat-icon>account_circle</mat-icon>
        <span>Minha Conta</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>



<div class="dashboard-container">
  <router-outlet></router-outlet>
</div>

<button mat-fab class="feedback-button" (click)="openWhatsApp()"
  matTooltip="Enviar feedback, sugestões ou reportar bugs" matTooltipPosition="left">
  <img class="pulse-badge" src="../../../assets/whatsapp_icon.png" alt="WhatsApp" style="width: 43px; height: 43px;">
</button>