<mat-toolbar color="primary">
  <a href="/dashboard/forms" style="text-decoration: none; color: inherit;">SimpleFeed</a>
  <span class="example-spacer"></span>
  <p class="welcome-message">Bem vindo, {{ userName }}</p>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div mat-menu-item>
      <mat-icon>email</mat-icon>
      <small>{{ userEmail }}</small>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="goToAccount()">
      <mat-icon>account_circle</mat-icon>
      <span>Minha Conta</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

</mat-toolbar>




<!-- Botão lateral fixo para abrir o WhatsApp -->
<!-- <button class="feedback-button" (click)="openWhatsApp()">
  <img src="../../../assets/whatsapp_icon.png" alt="WhatsApp" style="width: 43px; height: 43px;">
</button> -->

<div class="dashboard-container">
  <router-outlet></router-outlet>
</div>

<button mat-fab class="feedback-button" (click)="openWhatsApp()"
  matTooltip="Enviar feedback, sugestões ou reportar bugs" matTooltipPosition="left">
  <img class="pulse-badge" src="../../../assets/whatsapp_icon.png" alt="WhatsApp" style="width: 43px; height: 43px;">
</button>