.container {
    max-width: 1500px;
}

.example-container {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: auto;
}

table {
    width: 800px;
    width: 100%;
    border-collapse: collapse;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

td.mat-column-select,
th.mat-column-select {
    width: 50px;
}



.mat-mdc-header-cell,
.mat-mdc-cell {
    border: 1px solid #e0e0e0;
}

.mdc-fab--mini {
    width: 35px;
    height: 35px;
}
