<div class="center-wrapper">
  <!-- Se não for mobile, renderiza o mat-card; caso contrário, renderiza somente o container -->
  <ng-container *ngIf="!isMobile; else mobileTemplate">
    <mat-card class="account-card">
      <div class="account-container">
        <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
      </div>
    </mat-card>
  </ng-container>
  <ng-template #mobileTemplate>
    <div class="account-container">
      <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    </div>
  </ng-template>
</div>

<!-- Template com o formulário e modal (compartilhado para ambas as visualizações) -->
<ng-template #formTemplate>
  <!-- Formulário de dados comuns -->
  <form [formGroup]="accountForm" (ngSubmit)="submitAccountForm()">
    <!-- Linha 1: Primeiro Nome e Sobrenome -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Primeiro Nome</mat-label>
        <input matInput formControlName="firstName" maxlength="100" placeholder="Digite seu primeiro nome" required>
        <mat-error *ngIf="accountForm.get('firstName')?.touched && accountForm.get('firstName')?.invalid">
          Primeiro nome é obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="lastName" maxlength="100" placeholder="Digite seu sobrenome" required>
        <mat-error *ngIf="accountForm.get('lastName')?.touched && accountForm.get('lastName')?.invalid">
          Sobrenome é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Linha 2: E-mail e Telefone -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" maxlength="100" placeholder="Digite seu e-mail" required>
        <mat-error *ngIf="accountForm.get('email')?.touched && accountForm.get('email')?.invalid">
          <ng-container *ngIf="accountForm.get('email')?.hasError('required')">E-mail é obrigatório.</ng-container>
          <ng-container *ngIf="accountForm.get('email')?.hasError('email')">E-mail inválido.</ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Telefone</mat-label>
        <input matInput type="tel" mask="(00) 00000-0000" formControlName="phoneNumber" placeholder="(00) 00000-0000" required
          inputmode="numeric" pattern="[0-9]*">
        <mat-error *ngIf="accountForm.get('phoneNumber')?.touched && accountForm.get('phoneNumber')?.invalid">
          <ng-container *ngIf="accountForm.get('phoneNumber')?.hasError('required')">Telefone é obrigatório.</ng-container>
          <ng-container *ngIf="accountForm.get('phoneNumber')?.hasError('telefoneInvalido')">Telefone inválido.</ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Linha 3: Tipo de Documento e CPF/CNPJ -->
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select formControlName="documentType" (selectionChange)="onDocumentTypeChange($event)">
          <mat-option value="CPF">CPF</mat-option>
          <mat-option value="CNPJ">CNPJ</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <ng-container *ngIf="accountForm.get('documentType')?.value === 'CPF'; else cnpjField">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="document" placeholder="000.000.000-00" mask="000.000.000-00" required>
        </ng-container>
        <ng-template #cnpjField>
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="document" placeholder="00.000.000/0000-00" mask="00.000.000/0000-00"
            required>
        </ng-template>
        <mat-error *ngIf="accountForm.get('document')?.touched && accountForm.get('document')?.invalid">
          Insira um documento válido.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Novo campo: Nome da Empresa (apenas para CNPJ) -->
    <div class="form-row" *ngIf="accountForm.get('documentType')?.value === 'CNPJ'">
      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Nome da Empresa</mat-label>
        <input matInput formControlName="name" placeholder="Digite o nome da empresa" required>
        <mat-error *ngIf="accountForm.get('name')?.touched && accountForm.get('name')?.invalid">
          Nome da empresa é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>


    <!-- Botões de Ação -->
    <div class="form-row actions-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="accountForm.invalid">Salvar Dados</button>
      <button mat-raised-button color="accent" type="button" (click)="openPasswordModal()">Alterar Senha</button>
    </div>
  </form>
</ng-template>