/* Estilo geral para o diálogo */
.dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.75rem;
    color: #3f51b5;
    margin-bottom: 1rem;
}

.dialog-icon {
    font-size: 2.5rem;
    color: #3f51b5;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.dialog-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

.example-tab-icon {
    margin-right: 8px;
}

.mat-dialog-container {
    padding: 1rem;
    max-height: 90vh;
    overflow-y: auto;
}

mat-tab-group {
    width: 850px;
    display: flex;
    flex-direction: column;
    max-height: calc(90vh - 200px);
}

mat-tab-body-wrapper {
    overflow-y: auto;
    max-height: calc(90vh - 260px);
}

mat-form-field {
    width: 70%;
}

@media (max-width: 768px) {
    mat-form-field {
        width: 100%;
    }

    mat-card {
        width: 244px;
    }

    .list-item-description {
        font-size: 0.75rem;
        margin-left: 0px;
    }
}

/* Estilo geral para a lista */
.compact-selection-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.compact-list-item {
    margin: 0.25rem 0px 7px;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.compact-list-item:hover {
    background-color: #e3f2fd;
}

.list-item-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #424242;
}

.field-icon {
    font-size: 1.5rem;
    color: #3f51b5;
}

.list-item-description {
    font-size: 0.9rem;
    color: #757575;
    margin-left: 2.5rem;
}

.selected-count {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    color: #424242;
}

/* Contêiner dos templates */
.template-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.template-card {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.template-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.template-card.selected {
    border: 2px solid #3f51b5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.template-image {
    height: 120px;
    background-color: #3f51b5;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.template-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.template-details h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #424242;
}

.template-details p {
    margin: 0;
    font-size: 0.875rem;
    color: #757575;
}

/* Botão de rádio no card */
.template-radio-button {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;
}

mat-radio-group {
    display: contents;
}
