<div class="mat-dialog-container">


  <h1 mat-dialog-title class="dialog-title">
    <mat-icon class="dialog-icon">create</mat-icon>
    Novo Formulário
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="form" class="dialog-form">
      <mat-form-field appearance="outline" class="dialog-form-field">
        <mat-label>Nome do Formulário</mat-label>
        <input matInput formControlName="name" placeholder="Digite o nome do formulário">
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('minlength')">
          Nome deve ter no mínimo 5 caracteres
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
          Nome deve ter no máximo 100 caracteres
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('alreadyExists')">
          Já existe um formulário com este nome
        </mat-error>
      </mat-form-field>

      <mat-tab-group [color]="'primary'" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">dynamic_form</mat-icon>
            Campos
          </ng-template>
          <mat-selection-list #fields class="compact-selection-list">
            <mat-list-option *ngFor="let field of formFields" [value]="field.id" class="compact-list-item"
              (click)="toggleFieldSelection(field)" [selected]="field.selected">
              <div mat-line class="list-item-header">
                <span *ngIf="field.selectionOrder" class="field-order">{{ field.selectionOrder }}</span>
                <mat-icon class="field-icon">{{ getIconByFieldType(field.fieldType) }}</mat-icon>
                <strong>{{ field.label }}</strong>
              </div>
              <div mat-line class="list-item-description">
                {{ field.description }} 
              </div>
            </mat-list-option>
          </mat-selection-list>

          <p class="selected-count">
            Campos selecionados: {{ getSelectedFieldsCount() }}
          </p>


        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">ballot</mat-icon>
            Modelos
          </ng-template>

          <div class="template-card-container">
            <mat-radio-group [(ngModel)]="selectedTemplateId" [ngModelOptions]="{standalone: true}">
              <mat-card *ngFor="let template of formTemplates" class="template-card"
                (click)="selectTemplate(template.id)" [class.selected]="selectedTemplateId === template.id">
                <div class="template-card-content">
                  <div class="template-image"></div>
                  <div class="template-details">
                    <h3>{{ template.name }}</h3>
                    <p>{{ template.description }}</p>
                  </div>
                </div>
              </mat-card>
            </mat-radio-group>
          </div>


        </mat-tab>

      </mat-tab-group>

    </form>
    <div mat-dialog-actions class="dialog-actions">
      <button mat-stroked-button color="warn" (click)="cancel()">Cancelar</button>
      <button mat-stroked-button color="primary" [disabled]="!canContinue()" (click)="continue()">Continuar</button>
    </div>
  </div>
</div>