<h1 mat-dialog-title class="dialog-title">
  <mat-icon class="dialog-icon">create</mat-icon>
  Criar Novo Formulário
</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="outline" class="dialog-form-field">
      <input matInput formControlName="formName" placeholder="Digite o nome do formulário">
      <mat-error *ngIf="form.get('formName')?.hasError('required')">
        Nome é obrigatório
      </mat-error>
      <mat-error *ngIf="form.get('formName')?.hasError('minlength')">
        Nome deve ter no mínimo 5 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('formName')?.hasError('maxlength')">
        Nome deve ter no máximo 100 caracteres
      </mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button color="warn" (click)="cancel()">Cancelar</button>
    <button mat-stroked-button color="primary" [disabled]="form.invalid" (click)="continue()">Continuar</button>
  </div>
</div>