.full-width {
    width: 100%;
    font-weight: bold;
    color: #000;
}

.dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.mat-dialog-content {
    max-height: calc(100vh - 64px);
    overflow: auto;
}
