<div *ngIf="!isLoading && estiloAplicado" class="form-container"
    [ngStyle]="{'background-color': formStyle.backgroundColor,'font-family': formStyle.fontFamily}">
    <form *ngIf="exibirForm" [formGroup]="form" (ngSubmit)="onSubmit()" class="form" [ngStyle]="{
      'background-color': formStyle.color,
      'color': formStyle.fontColor,
      'font-family': formStyle.fontFamily,
      'font-size.px': formStyle.fontSize
    }">
        <!-- Exibição do logo -->
        <div *ngIf="logoBase64" class="logo-container">
            <img [src]="logoBase64" alt="Logo do formulário" style="width: 40%; border-radius: 10px" />
        </div>

        <div *ngFor="let field of fields" class="form-field">

            <!-- Campo de texto genérico -->
            <mat-form-field *ngIf="field.type === 'text'" appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.id.toString()" type="text" maxlength="100" />
                <mat-error *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched" style="color: red !important;">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>

            <!-- Campo de data -->
            <mat-form-field *ngIf="field.type === 'date' && field.name !== 'data_do_envio'" appearance="outline"
                class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.id.toString()" [matDatepicker]="picker" (focus)="picker.open()"
                    readonly />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched" style="color: red !important;">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>


            <!-- Campo de e-mail -->
            <mat-form-field *ngIf="field.type === 'email'" appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.id.toString()" type="email" maxlength="100" />
                <mat-error *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched" style="color: red !important;">
                    Insira um e-mail válido.
                </mat-error>
            </mat-form-field>

            <!-- Campo dropdown -->
            <mat-form-field *ngIf="field.type === 'dropdown'" appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.id.toString()">
                    <mat-option [value]="0">Selecione uma opção</mat-option>
                    <mat-option *ngFor="let option of field.options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get(field.id.toString())?.hasError('invalidDropdown')" style="color: red !important;">
                    Por favor, selecione uma opção válida.
                </mat-error>
                <mat-error *ngIf="form.get(field.id.toString())?.hasError('required')" style="color: red !important;">
                    Este campo é obrigatório.
                </mat-error>
            </mat-form-field>


            <!-- Campo multiple_selection -->
            <mat-form-field *ngIf="field.type === 'multiple_selection'" appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.id.toString()" multiple>
                    <mat-option *ngFor="let option of field.options" [value]="option" class="custom-option">
                        {{ option }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get(field.id.toString())?.hasError('required')" style="color: red !important;">
                    Este campo é obrigatório.
                </mat-error>
            </mat-form-field>




            <!-- Campo de rating (fora do mat-form-field) -->
            <div *ngIf="field.type === 'rating'" class="rating-field mb-4">
                <label class="rating-label">{{ field.label }}</label>
                <div class="rating-icons">
                    <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                        [class.selected]="i < form.get(field.id.toString())?.value"
                        (click)="form.get(field.id.toString())?.setValue(i + 1)">
                        star
                    </mat-icon>
                </div>
                <!-- Mensagem de erro -->
                <div *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched"
                    class="rating-error">
                    <small style="color: red !important;">Por favor, selecione uma avaliação.</small>
                </div>
            </div>

            <!-- Campo de textarea -->
            <mat-form-field *ngIf="field.type === 'textarea'" appearance="outline" class="full-width">
                <label class="rating-label">{{ field.label }}</label>
                <textarea matInput [formControlName]="field.id.toString()" maxlength="255"></textarea>
                <mat-error *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched" style="color: red !important;">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>

            <!-- Campo CPF -->
            <mat-form-field *ngIf="field.type === 'cpf'" appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.id.toString()" type="text" [mask]="'000.000.000-00'" />
                <mat-error *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched" style="color: red !important;">
                    Insira um CPF válido.
                </mat-error>
            </mat-form-field>

            <!-- Campo de telefone -->
            <mat-form-field *ngIf="field.type === 'telephone'" appearance="outline" class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.id.toString()" type="text" [mask]="'(00) 00000-0000'" />
                <mat-error *ngIf="form.get(field.id.toString())?.invalid && form.get(field.id.toString())?.touched" style="color: red !important;">
                    Insira um telefone válido.
                </mat-error>
            </mat-form-field>

        </div>

        <button mat-raised-button color="primary" type="submit" [ngStyle]="{
          'background-color': formStyle.colorButton,
          'color': formStyle.colorTextButton,
          'font-family': formStyle.fontFamily
        }">
            Enviar
        </button>
    </form>
</div>

<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>